
#club_frame{
	width:100%;
	/*max-width: 1210px;*/
	overflow: hidden;	
}

#club_content{
	float:left;
	overflow: hidden;
	width:calc(100%*3);	
	transition: ease 1s;
	margin-left: 0px;
}
.artical{
	float:left;
	height:324px;
    width: calc(100%/3);
    padding: 0 1.3775%;
    box-sizing: border-box;
	text-align: justify;
	vertical-align: middle;
}

.artical h3{
	margin:0 auto 0 auto;
}

.artical img{
	width:39%;
	float:left;
	margin:auto 25px auto -15px;
	border-radius: 5px;
	vertical-align: middle;
}

.artical p{
	width: 58%;
    padding-left: 41%;

}

.btn{
	width: 35px;
    height: 324.68px;
    border: none;
    background-color: black;
    opacity: 0.05;
    margin-top: -324.68px;
    position: absolute;
    color: white;
}

.btn:hover{
 opacity:1;
}

#pre{
	/*margin-left:-1.86%;*/
}

#nex{
	margin-left:77%;
}

